@(deviceName: String, currentAlert: Integer, interval: Integer)

<html>
<head>
        <title>Work Flow Runner</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")"></script>
        <style>
        input[type='text']{
        	font-size:14pt;
        	height: 42px;
        	width: 250px;
        }
        </style>
        <script>
        $(window).load(function(){
        	setTimeout("getNewValue();", @(interval * 1000) );
        	$("#changeInterval").click(function(){
        		console.log( parseInt($("#interval").val()));
        		$.ajax({
        			url: "/workflow/",
        			contentType: "application/json",
        			method: "POST",
        			dataType: "text",
        			data: JSON.stringify({"interval": parseInt($("#interval").val())}),
        			success: function(result){
        				console.log(result);
        				$("#result").text("Successfully change interval");
        			}
        			
        		});
        		
        	});
        });
       	function getNewValue(){
       		console.log("update");
       		$.ajax({
    			url: "/workflow.json",
    			success: function(result){
    				$("#alertNumber").text(result);	
    				setTimeout("getNewValue();", @(interval * 1000) );
    			}
       		});
       	}
        </script>
</head>
<body>
	
	<div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
        </ul>
        <h3 class="muted">Work Flow Runner</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>The virtual device[@deviceName] is monitored</h1>
        <p class="lead">
        	Here are the current Analysis:
        	<ul>
        		<li>Number of alerts: <span id="alertNumber">@currentAlert</span>  </li>
        	</ul>
        </p>
        <hr>
        <input type="text" id="interval" placeholder="? Seconds"><br/>
        <a class="btn btn-large btn-success" href="#" id="changeInterval">Change Report Interval</a>
        <span id="result"></span>
      </div>

      <hr>

      

    </div> <!-- /container -->
</body>
</html>
